.users {

  &__body {

    background: #fff;
    display: flex;
    flex-direction: column;
  }

	&__top {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

	}

  &__mid {
		border-radius: 3px;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 990px;

	}

  &__footer {
    width: 990px;
    margin: 100px 0 0 15px;
    border-top: 1px solid #DFE3E8;
  }

}
