@import "assets/mixins.scss";
@import "assets/var.scss";

.item {
  list-style: none;
  margin-top: 25px;

  &__row{
    text-decoration: none;
    @include flex-row-center;
  }

  &__image {
    margin-right: 10px;
  }

  &_first {
    margin: 0;
  }

  &_support {
    margin: 20px;
  }

  .item__text {
    padding: 3px 0 0 0;
      color: $color-darkGrey;
  }
}
