@import "assets/mixins.scss";
@import "assets/var.scss";


.footer {

	&__text-1 {
    color:#616161;
    padding-top: 10px;
    font-size: 13px;
	}

	&__text-2 {
    color:#6B6C6F;
    padding-top: 2px;
    font-size: 11px;
	}

}
