.mid {

	&__form {
    display:flex;
    flex-direction: column;

	}


	&__first-line {
    border-bottom: 1px solid #E4E7EB;;
    width: 990px;


	}

  &__line {
    border-bottom: 1px solid #E4E7EB;;
  }

  &__line-container{
      margin: 4px 20px;
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content:space-between;
  }

  &__line-container_first {

    margin: 10px 20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
  }

  &__text-selected{
    margin: 0 10px;
    font-size: 11px;
  }

  &__text-user {
    margin-left: 25px;
      font-size: 11px;
  }

  &__text-phone {
    margin-left: 25px;
      font-size: 11px;
  }

  &__text-email {
      font-size: 11px;
  }

  &__text-data {
    color: #9EA0A5;
    font-size: 11px;
  }


	&__checkbox {

	}

  &__box-name-user{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__round {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background-color: #1070CA;
    margin: 0 10px;
  }

	&__text {
    color: #3A3B3F;
    font-size: 11px;
	}

  &__end {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  &__end-text {
    font-size: 11px;
    color: #3A3B3F;
      margin: 0 10px;
  }

  &__select {
    margin: 0 10px;
    font-size: 11px;
    color: #3A3B3F;
    border: 0px solid #fff;
  }

  &__number-page{
    font-size: 11px;
    color: #3A3B3F;
      margin: 0 10px;
  }
  &__end-left {
    margin: 0 15px;
  }

  &__end-right {
    margin: 0 10px;
  }


}
