@import "assets/mixins.scss";
@import "assets/var.scss";

aside {
    margin: 0;
    padding: 0;
    width: 220px;
    float: left;
}

.side-bar {

    	&__body {
        @include flex-col;
    	}

       &__hr {
        color:$colorLine;
        margin-left: 15px;
        border: 1px solid $colorLine;
        width: 180px;
      }

    	&__about {
        @include flex-col-center;
        padding: 20px;
    	}

    	&__avatar {
        border-radius: 100px; /* Радиус скругления */
        margin-bottom: 20px;
    	}

    	&__name {
        color: $colorBlack;
        font-size: 16px;
        margin-bottom: 5px;
    	}

    	&__job {
        color: $color-lightGrey;
          font-size: 12px;
    	}

    	&__nav-bar {
          padding: 20px;
    	}
}
