<header class="header">
  <div class="header__body">

    <div class="header__logobar">
      <a href="#" class="header__logobar-a">
        <img src="assets\images\header\logo.png" height="36px" alt="" class="header__logo">
        <p class="header__logotext">Devian Kit</p>
      </a>
    </div>

    <div class="header__ads">
      <a href="#" class="header__ads-a">
        <img src="assets\images\header\free.png" alt="" class="header__ads-button">
        <p class="header__ads-text">See our PRO version for more design components & coded in React follow this link: https://devias.io/products/devias-kit-pro</p>
      </a>
    </div>

    <div class="header__others">
      <a href="#">
          <img src="assets\images\header\notification.png" height="20px" alt="" class="header__notification">
      </a>
      <a href="#">
          <img src="assets\images\header\exit.png" height="20px" alt="" class="header__exit">
      </a>
    </div>
  </div>

</header>
