<aside class="side-bar">
    <div class="side-bar__body">
      <div class="side-bar__about">
        <a href="#">
            <img src="assets\images\side-bar\avatar.jpg" height="100px" alt="" class="side-bar__avatar">
        </a>
        <p class="side-bar__name">Bogdan Golovin</p>
        <p class="side-bar__job">Brain Director</p>
      </div>

      <hr class="side-bar__hr">

      <ul class="side-bar__nav-bar">
        <li class="side-bar__item item item_first">
          <a href="#" class="item__row">
            <img src="assets\images\side-bar\li1.png" alt="" class="item__image">
            <p class="item__text">Dashboard</p>
          </a>
        </li>
        <li class="side-bar__item item">
            <a href="#" class="item__row">
              <img src="assets\images\side-bar\li2.png" alt="" class="item__image">
              <p class="item__text">Users</p>
            </a>
        </li>
        <li class="side-bar__item item">
          <a href="#" class="item__row">
            <img src="assets\images\side-bar\li3.png" alt="" class="item__image">
            <p class="item__text">Products</p>
          </a>
        </li>
        <li class="side-bar__item item">
            <a href="#" class="item__row">
              <img src="assets\images\side-bar\li4.png" alt="" class="item__image">
            <p class="item__text">Authentication</p>
          </a>
        </li>
        <li class="side-bar__item item">
          <a href="#" class="item__row">
            <img src="assets\images\side-bar\li5.png" alt="" class="item__image">
            <p class="item__text">Typography</p>
          </a>
        </li>
        <li class="side-bar__item item">
          <a href="#" class="item__row">
            <img src="assets\images\side-bar\li6.png" alt=""  class="item__image">
            <p class="item__text">Icons & Images</p>
          </a>
        </li>


      </ul>
      <hr class="side-bar__hr">
      <div class="side-bar__item item item_support">
        <a href="#" class="item__row">
            <img src="assets\images\side-bar\support.png" alt="" class="item__image">
            <p class="item__text">Support</p>
        </a>
      </div>


      </div>
  </aside>
