.main {

	&__body {
    margin-left: 271px;
    background: #F2F2F2;
	}

  &__choice {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    border: 1px solid #E4E7EB;
  }


	&__flex-container-row {
      display: flex;
      flex-direction: row;
	}

	&__user-info {
    margin: 30px;
      background: white;
      width: 375px;
      height: 250px;
      border-radius: 2%;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	}

	&__flex-container-column {
    display: flex;
    flex-direction: column;

	}

	&__edit-info {
    margin: 30px 30px 30px 0;
      background: white;
      width: 910px;
      height: 450px;
      border-radius: 2%;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	}

	&__edit-notif {
    margin: 30px 30px 30px 0;
      background: white;
      width: 910px;
      height: 415px;
      border-radius: 2%;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	}

}


.choice {

  &__item {
    margin: 0 15px;

    line-height: 3;
    font-size: 16px;
    text-decoration: none;

    color: #3A3B3F;
  }

  &__item:after {
    background-color: #1665D8;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    transition: width .3s ease-in-out;
  }

  &__item:hover:after, &__item:focus:after {
    width: 100%
  }

}

.user-info {

}

.edit-info {

}

.edit-notif {

}
