@import "main/blocks/choice.scss";
@import "main/blocks/edit-info.scss";
@import "main/blocks/edit-notif.scss";
@import "main/blocks/user-info.scss";

.main {

	&__body {
    margin-left: 221px;
    background: #F2F2F2;
	}

  &__choice {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    border: 1px solid #E4E7EB;
  }


	&__flex-container-row {
      display: flex;
      flex-direction: row;
	}

	&__user-info {
    	margin: 30px;
			max-height: 185px;
      background: white;
      border-radius: 2%;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */


	}

	&__flex-container-column {
    display: flex;
    flex-direction: column;

	}

	&__edit-info {
    margin: 30px 30px 10px 0;
      background: white;
		width: 600px;
      border-radius:  0 0 2% 2%;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */

			display: flex;
			flex-direction: column;
	}

	&__edit-notif {
    margin: 15px 0px 30px 0;
      background: white;
			width: 600px;
      border-radius: 2%;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	}

}
