.user-info {

  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 15px 20px;
  }

  &__container-row {
    display: flex;
    flex-direction: row;
  }

	&__name {
    font-size: 20px;
    color: #212529;
	}

	&__city {
    margin-top: 15px;
    font-size: 12px;
    color: rgba(#9EA0A5, .39);
	}

	&__time {
    font-size: 12px;
    color: #9EA0A5;
	}

	&__avatar {
    margin-left: 25px;
    border-radius: 10px;
	}

	&__form {
    padding:  0 40px;
    margin-top: 20px;
    border-top: 1px solid #E4E7EB;
    display: flex;
    justify-content: space-between;

	}

  &__button {
    margin-top: 10px;
    background-color: #fff;
   color: #1665D8;
   font-size: 14px;
   border: none;
   text-align: center;
  }

}
